body {
    font-family: 'Helvetica', sans-serif;
    color: #333;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #556b2f;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.site-title {
    margin: 0;
    color: white;
    font-size: 24px;
    margin-left: 15px;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: none;
}

.login-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: white;
    color: #556b2f;
    border: 1px solid #556b2f;
    border-radius: 4px;
    transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

.login-btn:hover {
    background-color: #556b2f;
    color: white;
}

.book-detail {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.book-detail img {
    max-width: 40%;
    height: auto;
}

.book-info {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-info h2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 3.5em;
    text-align: center;
    font-family: "MS Mincho", serif;
}

.book-info .book-comment {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
    font-family: "MS Mincho", serif;
}

.book-info p {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 1.5em;
    text-align: center;
}

.book-info strong {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.book-info span {
    font-family: Arial, sans-serif;
}

.book-info hr {
    margin: 20px 0;
    width: 100%;
}

.button-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.button-container a {
    margin: 0 25px;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    transition: background-color 0.1s, color 0.1s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.button-container a.back-button {
    background-color: #fff;
    color: #556b2f;
    border: 1px solid #556b2f;
}

.button-container a.read-button {
    background-color: #556b2f;
    color: #fff;
    border: 1px solid #556b2f;
}

.button-container a.back-button:hover {
    background-color: #556b2f;
    color: white;
    transform: translateY(1.5px);
}

.button-container a.read-button:hover {
    background-color: white;
    color: #556b2f;
    transform: translateY(1.5px);
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-toggle {
    cursor: pointer;
    padding: 10px;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.15s;
}

.menu {
    position: absolute;
    top: 60px;
    left: -300px;
    width: 300px;
    background-color: #444444;
    transition: left 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.menu.active {
    left: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu ul li:last-child {
    border-bottom: none;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: background-color 0.15s;
}

.menu ul li a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-item {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.15s;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}